*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.wrapper {
  max-width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1, h2 {
  margin: 30px 0;
  text-align: center;
}

.graphic {
  margin: 1em auto;
  width: 30%;
  display: block;
}

.star-point,
.outer-circle {
  opacity: 0;
}

.inner-circle {
  stroke-opacity: 0;
}

.star {
  stroke-width: 8;
}

@media only screen and (min-width: 30em) {
  .inner-circle {
    stroke-opacity: 1;
  }
}

@media only screen and (min-width: 40em) {
  .outer-circle {
    opacity: 1;
  }
  .star {
    stroke-width: 4;
  }
}

@media only screen and (min-width: 64em) {
  .star-point {
    opacity: 1;
  }
}































